
<h1><mat-icon color="warn">coronavirus</mat-icon>  Covid-App</h1>
  <mat-divider></mat-divider>
<h3 style="text-align:'center';color:'black';font-weight:'bold'">{{today | date:'fullDate'}}</h3>
<h3 style="text-align:'center';color:'black';font-weight:'bold'">{{today | date:'h:mm:ss a'}}</h3>
  <mat-divider></mat-divider>

<div class="">
  <app-aboveinfo></app-aboveinfo>
</div>


<div class="container">
  <div class="row raw">
    <div class="col">
      <app-summary [summarydata]="summarydata"></app-summary>
    </div>
    <div class="col">
      <app-country [indiadata]="indiadata"></app-country>
    </div>
  </div>
</div>


<app-allcountry [allcountrydata]="allcountrydata" [summarydata]="summarydata"></app-allcountry>


<div class="container infodiv">
  <app-helplines></app-helplines>
</div>


<div>
  <app-footer></app-footer>
</div>
